# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
*.env
*.venv

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
